<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="https://www.duffelblog.com/wp-content/uploads/2018/09/dbsmall-1.png" alt="dbLogo">
            <a href="/" class="navbar-brand">Duffel Blog Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
        <a href="/api/articles/scrape" class="btn btn-primary navbar-btn" id="scrapeBtn">Start here!
        Scrape new articles</a>
    </div>
</nav>